.postlist {
	list-style: none;
}

img.header {
	width:100px;
	display: block;
	margin: 0 auto;
}

.post span6 {
	/* Disable font resizing in Android Chrome.*/
	max-height: 1000000px;
}

.post {
	text-align:justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}



