html {
	height: 100%;
}

html, body {
	min-height: 100%;
}

.post span6 {
	/* Disable font resizing in Android Chrome.*/
	max-height: 1000000px;
}

.post p {
	text-align:justify;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

.post h3 {
	margin:1em;
	font-style: italic;
	font-weight: bold;
}

.post h4 {
	margin: 0 1em 0 0;
	font-weight: bold;
	float: left;
	display: inline;
}


