<div class="post large-8 columns">
  <h1>$title$</h1>
  $body$
  <h2>Posted $date$
  </h2>
  <div id="disqus_thread">
    <script type="text/javascript">
         var disqus_shortname = 'hdevalence'; 
         (function() {
             var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
             dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
             (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
         })();
    </script>
    <noscript>
      Comments require Javascript.
    </noscript>
  </div>
</div>
